@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
    --margin_left_text: 25%;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

div.body {
    background-color: #F08080;
    font-family: "Montserrat", sans-serif;
}

section {
    height: 120px;
    background-color: #F08080;
}

a, p, label {
    color: white;
}

header {
    /* font: sans-serif; */
    background-image: var(--bg_image);
    height: 100vh;
    background-attachment: fixed;
    background-size: 100%;
    background-position: center;
}

body {
    /*font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;*/
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* divs lado a lado */

div.side-by-side-parent-right {
    border: 1px solid cyan;
    text-align: right;
}

div.side-by-side-parent-center {
    border: 1px solid blue;
    text-align: center;
}

div.side-by-side-child {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid red;
}

div.side-by-side-child-top {
    display: inline-block;
    vertical-align: text-top;
    border: 1px solid red;
}

div.graph {
    /*margin: auto;*/
    /*width: 40%;*/
    width: 100%;
    float: right;
    /*padding: 10px;*/
}

.container {
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    height: 100%;
}

.center {
  margin: auto;
  width: 50%;
  /*border: 3px solid green;*/
  padding: 10px;
}

.width-reta-equacoes {
    width: 650px;
}

.width-reta-coeficientes {
    width: 330px;
}

.width-reta-angulo {
    width: 550px;
}

.width-circunferencia-centro-raio {
    width: 330px;
}

.width-circunferencia-relacao {
    width: 650px;
}

.width-circunferencia-equacao {
    width: 750px;
}

/* ***************************************************** */
/* PARTE TEXTUAL: RÓTULOS, TÍTULOS, CAIXAS DE TEXTO, ETC */
/* ***************************************************** */

.title {
    /*margin-left: 400px;*/
    font-size: 40px;
    font-family: Rubik Dirt, sans-serif;
    color: white;
    text-align: center;
}

.coeficientes {
    font-size: 25px;
    /*width: 50%;*/
    font-family: Rubik Dirt, sans-serif;
    text-align: center;
}

.dica {
    /*margin-left: var(--margin_left_text);*/
    margin-right: 10px;
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-size: 14px;
}

.label-inputs {
    /*margin-left: var(--margin_left_text);*/
    margin-right: 10px;
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-size: 20px;
}

input.inputs {
    padding: 10px;
    border: 1px solid #709CEE;
    background-color: #48D1CC;
    font-family: 'Acme', sans-serif;
    font-size: 14px;
    color: white;
    border-radius: 7px 7px 7px 7px;
    size: 15px;
}

.selector-label {
    padding-left: 5px;
    padding-right: 5px;
}
