@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
    --bg_image: url('https://media.discordapp.net/attachments/690312693483307008/1024690384116404326/Sem_titulo3.png?width=953&height=393');
    --menuBackgroundColor: #F08080;
    --menuLinkColor: #ffffff;
    --menuLinkColorUnactive: #1c4669;
    --menuLinkOutlineOffset: -.5rem;
    --margin_left_text: 25%;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

div.body {
    background-color: #F08080;
    font-family: "Montserrat", sans-serif;
}

section {
    height: 120px;
    background-color: #F08080;
}

a, p, label {
    color: white;
}

header {
    /* font: sans-serif; */
    background-image: var(--bg_image);
    height: 100vh;
    background-attachment: fixed;
    background-size: 100%;
    background-position: center;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* divs lado a lado */

div.float-container {
    /*border: 3px solid #ff00ff;*/
    position: absolute;
}

div.float-child {
    width: 50%;
    float: left;
    /*border: 2px solid red;*/
}

div.float-graph {
    width: 100%;
    float: right;
    /*border: 2px solid cyan;*/
}

.container {
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    height: 100%;
}

.center {
  margin: auto;
  width: 50%;
  /*border: 3px solid green;*/
  padding: 10px;
}

/* ***************************************************** */
/* PARTE TEXTUAL: RÓTULOS, TÍTULOS, CAIXAS DE TEXTO, ETC */
/* ***************************************************** */

.title {
    /*margin-left: 400px;*/
    font-size: 40px;
    font-family: Rubik Dirt, sans-serif;
    color: white;
}

.coeficientes {
    /*margin-left: 150px;*/
    font-size: 25px;
    width: 50%;
    font-family: Rubik Dirt, sans-serif;
}

.dica {
    margin-left: var(--margin_left_text);
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-size: 14px;
}

.label_esquerda {
    margin-left: var(--margin_left_text);
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-size: 20px;
}

input.inputs {
    padding: 10px;
    padding-top: 4px;
    border: 1px solid #709CEE;
    background-color: #48D1CC;
    font-family: 'Acme', sans-serif;
    font-size: 14px;
    color: white;
    border-radius: 7px 7px 7px 7px;
    size: 15px;
}

/* *************** */
/* MENU HORIZONTAL */
/* *************** */

.r-link {
    display: var(--rLinkDisplay, inline-flex) !important;
}

.r-link[href] {
    color: var(--rLinkColor) !important;
    text-decoration: var(--rLinkTextDecoration, none) !important;
}

.r-list {
    padding-left: var(--rListPaddingLeft, 0) !important;
    margin-top: var(--rListMarginTop, 0) !important;
    margin-bottom: var(--rListMarginBottom, 0) !important;
    list-style: var(--rListListStyle, none) !important;
}

.menu {
    --rLinkColor: var(--menuLinkColor, currentColor);
}

.menu__link {
    display: var(--menuLinkDisplay, block);
}

.menu__link:focus {
    outline: var(--menuLinkOutlineWidth, 2px) solid var(--menuLinkOutlineColor, currentColor);
    outline-offset: var(--menuLinkOutlineOffset);
}

.menu:hover .menu__link:not(:hover) {
    --rLinkColor: var(--menuLinkColorUnactive, rgba(22, 22, 22, .35));
}

.menu {
    background-color: var(--menuBackgroundColor, #F08080);
    box-shadow: var(--menuBoxShadow, 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24));
}

.menu__list {
    display: flex;
}

.menu__link {
    padding: var(--menuLinkPadding, 1.5rem 2.5rem);
    font-weight: 700;
    text-transform: uppercase;
}

.text-underlined {
    position: relative;
    overflow: hidden;

    will-change: color;
    transition: color .25s ease-out;
}

.text-underlined::before,
.text-underlined::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--textUnderlinedLineColor, currentColor);

    will-change: width;
    transition: width .1s ease-out;

    position: absolute;
    bottom: 0;
}

.text-underlined::before {
    left: 50%;
    transform: translateX(-50%);
}

.text-underlined::after {
    right: 50%;
    transform: translateX(50%);
}

.text-underlined:hover::before,
.text-underlined:hover::after {
    width: 100%;
    transition-duration: .2s;
}

.page {
    box-sizing: border-box;
    float: top;
    max-width: 1900px;
    padding-left: .0rem;
    padding-right: .0rem;
}

.page__menu:nth-child(n+2) {
    margin-top: 3rem;
}