.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 200px;
    max-width: 200px;
    width: 200px;
    text-align: center;
    align-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #F08080;
    color: #fff;
    /*transition: all 0.3s;*/
}

#sidebar.active {
    margin-left: -200px;
}