:root {
    --sidebar-width: 200px;
}

.wrapper {
    display: flex;
    width: 100%;
    /*align-items: stretch;*/
}

#sidebar {
    width: var(--sidebar-width);
    position: fixed;
    text-align: center;
    align-content: center;
    top: 0;
    left: 0;
    height: 100vh; /* 100% da altura do viewport */
    z-index: 999;
    background: #F08080;
    color: #fff;
    /*transition: all 0.3s;*/
}

#content {
    margin-left: var(--sidebar-width);
    width: 100vw;
}